.section2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 50px;
  /* background-color: blue; */
}

.section2 h2,
.section2 p {
  width: 100%;
  margin: 20px;
}
